@font-face {
    font-family: Norse-Bold;
    src: url(./fonts/Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 4fr 8fr;
    font-family: sans-serif;
}

div.left {
    background: url(images/form-bg.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo-bar {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    padding: 20px 0;
}

h1 {
    color: white;
    font-family: Norse-Bold;
    font-size: 4rem;
}

img {
    background-color: transparent;
    height: 1em;
}

div.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 120px 0 60px;
    font-size: 16px;
    line-height: 1rem;
}

div.right p:nth-child(2) {
    margin-top: 20px;
}

.form-container {
    margin-top: 40px;
}

.form-container p {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-transform: uppercase;
}

.name,
.contact,
.password {
    display: flex;
    gap: 30px;
}

.name > div, .contact > div, .password > div {
    flex: 1;
}

input {
    width: 100%;
    border: 1px solid #E5E7EB;
    height: 40px;
}

input:focus {
    border: 1px solid blue;
}

button {
    background-color: #596D48;
    color: white;
    width: 180px;
    padding: 10px 20px;
}

input, button {
    border-radius: 5px;
}

a {
    color: #596D48;
    text-decoration: none;
}

p:last-of-type {
    margin-top: 20px;
}